.sobre{
  margin-top: 10%;
  padding: 50px;
  padding-bottom: 100px;
      background-color:  #AC8D51;
}
.sec-sobre{
    font-family: "Lora";
    font-size: 20px;
    text-align: center;
    color: white;
    justify-items: center;
}

#SOBRE{
     scroll-margin-top: 90px;
}

.sec-sobre h1{
  font-family: "Lora";
  font-weight: bold;
}

.sec-sobre p {
  font-weight: 400;
}

.linha{
    margin-top: 5px;
    background-color: white;
    width: 300px;
    height: 3px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
    gap: 110px;
    justify-content: center
}

.descricao{
    font-family: 'inter', sans-serif;
    font-size: 14px;
    background-color: beige;
    box-shadow: 2px 10px 5px -1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 10px 5px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 10px 5px -1px rgba(0,0,0,0.3);
    padding: 20px 20px;
    text-align: center;
    color:#AC8D51;
    width: 240px;
    height: 270px;
    border-color: white;
    border-radius: 14px;
    font-weight: 500;
    transition: transform 0.5s;
    
}

.descricao i{
    font-size: 60px;
    margin-top: 20px;
    color: #AC8D51;
}

.descricao:hover{
    transform: translateY(-5px)
}

.descricaocentro{
    font-family: 'inter', sans-serif;
    font-size: 14px;
    background-color: beige;
    box-shadow: 2px 10px 5px -1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 10px 5px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 10px 5px -1px rgba(0,0,0,0.3);
    margin-top: -40px;  
    padding: 20px 20px;
    text-align: center;
    color: #AC8D51;
    width: 240px;
    height: 270px;
    border-radius: 14px;
    font-weight: 500;
    transition: transform 0.5s;
}

.descricaocentro i{
    font-size: 60px;
    margin-top: 20px;
    color: rgb(13, 13, 53);
}

.descricaocentro:hover{
    transform: translateY(-5px)
}